fastapi
uvicorn[standard]
torch
transformers
python-multipart
rapidfuzz
pydantic
nanoid
python-dotenv
google-cloud-firestore
google-cloud-aiplatform
google-cloud-texttospeech
google-cloud-storage
huggingface_hub